<div class = "col-sm-8 col-sm-offset-2">
  <div class="panel panel-default edit-panel">
    <div class="panel-heading">
      <h3>Edit Bookmark</h3>
    </div>
    <div class="panel-body">
      <div class="current_img">
        <center><%= image_tag(display(@bookmark.url)) %></center>
      </div>
      <%= render 'form' %>
    </div>
</div>
