<%= link_to "New Bookmark", new_bookmark_path, class: "btn btn-primary" %>

<div class = "bookmarks-list">
  <% @bookmarks.each do |bookmark| %>
    <h4><%= link_to bookmark.title, bookmark %></h4>
  <% end %>
</div>
