<div class = "col-sm-8 col-sm-offset-2">
  <div class="panel panel-default edit-panel">
    <div class="panel-heading">
      <h3>New Bookmark</h3>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
