<div class="side-nav">
  <% if user_signed_in? %>
    <form class="navbar-form" role="search">
      <div class="form-group search">
        <span class="fa fa-search"></span>
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <!-- <button type="submit" class="btn btn-default">Search</button> -->
    </form>
  <% end %>

  <div class="side-categories">
    <% if user_signed_in? %>
      <span id="side-title">categories</span>
      <ul class="cat-list" id="categories">
        <li><%= link_to "All", bookmarks_path %></li>
        <% @topics.each do |t| %>
          <li><%= link_to "#{t.title}", bookmarks_path(topic_id: "#{t.id}") %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="summary">
        BlocMarks is a tool to save and manage your favorite bookmarks. We make it easy to find, categorize, and share links with friends. Get started with a free account, or <%= link_to "explore", bookmarks_path, class: "side-menu-link" %> popular bookmarks submitted by other users!
      </p>
    <% end %>
  </div>

</div>
